body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: #1f2a68;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
}
.main_Container {
  height: 8vh;
  width: 100%;
  font-size: 17.5px;
  text-align: left;
  padding-top: 1%;
  padding-left: 1%;
  font-weight: 500;
  color: #1f2a68 !important;
}
.inner_Container {
  width: 100%;
  height: 190vh;
  margin-top: 1%;
  background-color: #f6fdfa;
  padding-top: 1%;
}
.inner_Container_div{
  height: 50vh;
  width: 96%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.desc_div {
  height: 43vh;
  width: 96%;
  border-radius: 8px;
  margin: auto;
  background-color: #f6fdfa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Imgbox {
  height: 80%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description{
  height: 80%; 
  width: 35%;
}
.description_p{
  font-size: 21px;
  font-weight: 500
}
.description_desc{
    margin-top: 15px;
    color: 1C2A00;
    font-size:14px;
    font-weight: 300;
    text-align: justify;
  
}
.vedioOption{
  height: 50px;
  width: 75%;
  margin:auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.emailOption
{
  height: 50px;
  width: 100%;
  margin:auto;
  margin-top: 20px;
  display: flex;
  justify-content:left;
  align-items: center;
}
@media (max-width: 990px) {
  .desc_div {
    display: block;
  }
  .Imgbox{
    width: "70%";
    height: 30%;
    margin:auto
  }
  .description{
    height: 70%; 
    width: 40%;
    margin:auto;
  }
  .vedioOption{
    display:none
  }
  .inner_Container_Container{
    height: 50vh;
    width: 96%;
    border-radius:10px;
    margin:auto;
    display:flex;
    background-color:white;
    justify-content: center;
    align-items: center;
  }
  .desc_title{
    font-size: 21px;
    font-weight:500
  }
  .desc_desc_p{
    margin-top: 15px;
    color:1C2A00;
    padding:0px 10%;
    font-size:14px;
    font-weight:300;
    text-align:justify 
  }
  .emailOption{
    display:none
  }
}
