body {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.main_Container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.reset_Container {
  width: 33.5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_Content {
  width: 85%;
  height: 60%;
  margin-top: -12%;
}
.main_content_p{
  font-size: 28px;
  font-weight: normal;
  margin-top: 20px;
}
.container_acc{
   margin-top: 17%; 
   font-size: 14px;
}
.container_dont_acc
{
  margin-top: 2%; 
  font-size: 14px
}
.container_avatar_back
{
  height: 60%;
  width: 80%;
  margin-top: 20%;
  border-radius: 50%;
  background-color: #5F7EB7;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_img_back
{
  height: 85%;
    width: 85%;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_avatar_style{
  width: 100%;
  border-radius: 50%;
}
.logo {
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.img_Container {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  display: block !important;
  width: 66.5% !important;
  height: 100vh !important;
  position: fixed;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(135deg, #130cb7 10%, #52e5e7 100%);
}

.reset_img {
  width: 100%;
  height: 70%;
  background-size: 65%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: url(https://d2p078bqz5urf7.cloudfront.net/cloud/assets/img/login-image.svg);
}

.row_desc {
  width: 80%;
  height: 21vh;
  margin-top: 2.3%;
  margin-left: 17%;
  margin-bottom: 8%;
  background-image: linear-gradient(135deg, #2856b7 10%, #339ad4 100%);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc_avatar {
  width: 13%;
  height: 90%;
}
.desc_desc {
  width: 82%;
  height: 90%;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}
.desc {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0.5rem !important;
}
.writer {
  text-align: right;
}
@media (max-width: 990px) {
  .img_Container {
    display: none !important;
  }
  .reset_Container {
    width: 100%;
  }
}
